*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1475px;
  margin-left: 70px;
}

.header {
  position: fixed;
  width: 1200px;
  height: 60px;
  left: calc(50% - 1200px / 2);
  top: 60px;
}
.logo {
  position: absolute;
  width: 226px;
  height: 60px;
  left: 0px;
  top: 0px;
}
.logo_title {
  position: absolute;
  width: 226px;
  height: 35px;
  left: 0px;
  top: calc(50% - 35px / 2 - 12.5px);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
.logo_subtitle {
  position: absolute;
  width: 226px;
  height: 15px;
  left: 0px;
  top: calc(50% - 15px / 2 + 22.5px);
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
}
nav {
  position: absolute;
  width: 443px;
  height: 24px;
  left: 757px;
  top: 16px;
}
a {
  text-decoration: none;
  padding-right: 35px;
  color: rgba(205, 205, 205, 1);
}
.menu {
  width: 550px;
  height: 24px;
  right: 329px;
  top: 16px;
}
.block_start_screen {
  position: absolute;
  height: 908px;
  left: -0.94%;
  right: 0.94%;
  top: 0px;
  background: linear-gradient(90.26deg, #7d604b 0.23%, #251000 99.8%);
}
.start_puppy {
  position: absolute;
  width: 698px;
  height: 728px;
  left: calc(50% - 698px / 2 + 251px);
  bottom: 0px;
}
.block_start_screen .heading {
  position: absolute;
  width: 325px;
  height: 114px;
  left: calc(50% - 325px / 2 - 437.5px);
  bottom: 451px;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.block_start_screen .subheading {
  position: absolute;
  width: 460px;
  height: 72px;
  left: calc(50% - 460px / 2 - 370px);
  bottom: 337px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #cdcdcd;
}
.botton_primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 45px;
  gap: 10px;
  position: absolute;
  width: 207px;
  height: 52px;
  left: calc(50% - 207px / 2 - 496.5px);
  bottom: 244px;
}
.about {
  position: absolute;
  left: 0.94%;
  right: -0.94%;
  top: 1000px;
  background: #ffffff;
  width: 1200px;
  height: 408px;
  left: calc(50% - 1200px / 2);
}
.about p {
  padding-bottom: 30px;
}
.about_heading {
  position: absolute;
  width: 370px;
  height: 90px;
  left: 601px;
  top: 14px;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.about_subheading_1 {
  position: absolute;
  width: 430px;
  height: 96px;
  left: 601px;
  top: 129px;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}
.about_subheading_2 {
  position: absolute;
  width: 430px;
  height: 144px;
  left: 601px;
  top: 250px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}
.block_pets {
  position: absolute;
  top: 1496px;
  height: 877px;
  position: absolute;
  left: -0.94%;
  right: 0.94%;
  background: #f6f6f6;
}
.pet_content {
  position: absolute;
  width: 1200px;
  height: 697px;
  left: calc(50% - 1200px / 2);
  top: 80px;
}
h1 {
  position: absolute;
  width: 400px;
  height: 90px;
  left: 400px;
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.get {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 45px;
  gap: 10px;
  position: absolute;
  width: 261px;
  height: 52px;
  left: 470px;
  top: 645px;
  background: #f1cdb3;
  border-radius: 100px;
  font-size: 14px;
  font-weight: bold;
  line-height: 170%;
  letter-spacing: 0.06em;
  color: #292929;
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
}
.pets_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 160px;
}
.help {
  position: absolute;
  height: 609px;
  left: 0%;
  right: 0%;
  top: 2375px;
  background: #ffffff;
}
.help_content {
  position: absolute;
  width: 1200px;
  height: 431px;
  left: calc(50% - 1200px / 2);
  top: 80px;
}
.help h2 {
  position: absolute;
  width: 308px;
  height: 90px;
  left: 446px;
  top: 0px;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.grid_help_block_1 {
  position: absolute;
  width: 1200px;
  height: 281px;
  left: -10px;
  top: 150px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
}
.grid_help_block_2 {
  position: absolute;
  width: 1026px;
  height: 281px;
  left: 87px;
  top: 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  align-items: end;
}
.grid_help p {
  padding-top: 30px;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation {
  position: absolute;
  height: 464px;
  left: 0%;
  right: 0%;
  top: 2984px;
  background: #f6f6f6;
}
.donation_content {
  position: absolute;
  width: 1200px;
  height: 284px;
  left: calc(50% - 1200px / 2);
  top: 80px;
}
.donation .heading {
  position: absolute;
  width: 300px;
  height: 90px;
  left: 677px;
  top: 1px;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation .subheading {
  position: absolute;
  width: 307px;
  height: 17px;
  left: 677px;
  top: 111px;
  font-size: 15px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.credit_card {
  padding: 10px 15px;
  gap: 10px;
  position: absolute;
  width: 349px;
  height: 43px;
  left: 677px;
  top: 148px;
  background: #f1cdb3;
  border-radius: 9px;
  margin-right: 30px;
}
.credit_card img {
  position: absolute;
  width: 30px;
  height: 23px;
  left: 15px;
  top: 10px;
}
.credit_card p {
  position: absolute;
  width: 275px;
  height: 23px;
  left: 60px;
  top: 10px;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}
.legal_info {
  position: absolute;
  width: 380px;
  height: 72px;
  left: 677px;
  top: 211px;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}
footer {
  position: absolute;
  height: 350px;
  left: 0%;
  right: 0%;
  top: 3448px;
  background: linear-gradient(90.26deg, #7d604b 0.23%, #251000 99.8%);
}
.footer_content {
  position: absolute;
  width: 1200px;
  height: 310px;
  left: 40px;
  top: 40px;
  left: calc(50% - 1200px / 2);
}
.contacts .title {
  position: absolute;
  width: 280px;
  height: 90px;
  left: calc(50% - 278px / 2 - 461px);
  top: 20px;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.contacts img {
  position: absolute;
  width: 40px;
  height: 32px;
  left: calc(50% - 40px / 2 - 580px);
}
.contacts p {
  position: absolute;
  width: 191px;
  height: 23px;
  left: calc(50% - 191px / 2 - 444.5px);

  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
.mail img {
  top: 146px;
}
.phone img {
  top: 218px;
}

.mail p {
  top: 151px;
}
.phone p {
  top: 223px;
}
.location {
  position: absolute;
  width: 302px;
  height: 234px;
  left: 438px;
  top: 16px;
}
.location img {
  position: absolute;
  width: 40px;
  height: 32px;
  left: calc(50% - 22px / 2 - 163px);
}
.location .title {
  position: absolute;
  width: 270px;
  height: 90px;
  left: calc(50% - 270px / 2 - 26px);
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.boston img {
  top: 125px;
}
.london img {
  top: 200px;
}
.boston p {
  position: absolute;
  width: 260px;
  height: 46px;
  left: calc(50% - 260px / 2 + 10px);
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  top: 120px;
  color: #f1cdb3;
}
.london p {
  position: absolute;
  width: 260px;
  height: 46px;
  left: calc(50% - 260px / 2 + 10px);
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  top: 200px;
}

.footer_puppy {
  position: absolute;
  width: 300px;
  height: 310px;
  left: calc(50% - 300px / 2 + 450px);
  top: 0px;
}
